@media only screen and (max-width: 600px) {
  body{
    font-size: 20px;
  }
  li.ball, span.ball.active{
    font-size: 18px;
  }
  #topbar{
    font-size: 12px;
  }
  .wrapper{
    padding: 0 14px;
  }
  .canvas{
    width: 95%;
  }
  .canvas .note{
    font-size: 28px;
  }
  .canvas .next{
    font-size: 20px;
  }
  .buttons{
    flex-direction: column;
    align-items: center;
    width: 100%;
    .button{
     width: fit-content;
     margin-bottom: 24px;
    }
  }
  .menu-icon.activeMenu{
    right: 90%;
  }
  .menu-icon{
    font-size: 24px;
  }
}