@font-face {
  font-family: "loretta";
  src: url("CommitMono-400-Regular.woff2") format("woff2");
}

body{
  background: #222;
  color: #fff;
  font-family: "loretta";
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.menu-icon{
  width: 30px;
  height: 30px;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  top: 14px;
  right: 14px;
  left: auto;
  transition: all 0.4s ease;
  cursor: pointer;
  &.activeMenu{
    right: 414px;
    &:after{
      transform: scaleX(-1);
    }
  }
  &:after{
    content: '<';
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    transition: all 0.4s ease;
  }
}

.menu{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: #222;
  -webkit-box-shadow: 0px 0px 27px 1px rgba(22,22,22,1);
  -moz-box-shadow: 0px 0px 27px 1px rgba(22,22,22,1);
  box-shadow: 0px 0px 27px 1px rgba(22,22,22,1);
  padding: 14px;
  font-size: 14px;
  right: -400px;
  transition: all 0.4s ease;
  &.activeMenu{
    right: 0;
  }
  a{
    text-decoration: underline;
  }
  h2{
    margin-top: 48px;
  }
  h2:first-child{
    margin-top: 0;
  }
}

*:focus {outline:0;}

*{
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}

.note{
  font-size: 15px;
  color: greenyellow;
}

.input-wrapper{
  padding-top: 40vh;
  top: 0;
  width: 95%;
  max-width: 800px;
  position: fixed;
  background: #222;
  left: 50%;
  transform: translateX(-50%);
}

span.ball.active{
  background-color: transparent;
  font-size: 24px;
  border: 0;
  line-height: 1.5;
  text-align: center;
  margin-right: 0!important;
  color: #222;
  padding: 0px 20px;
  min-width: 100px;
}


ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: calc(40vh + 100px);
  padding-bottom: 100px;
}

ul a, a{
  color: #fff;
  text-decoration: none;
  line-height: 1.5;
}

ul a:hover{
  border-bottom: 2px solid black;
}

li{
  cursor: pointer;
  background-color: white;
  border-radius: 25px;
  padding: 5px 20px;
  margin: 10px 0;
  color: #222;
  list-style: none;
}

li a{
  color: #222;
}

h2{
  font-weight: 100;
}

h1{
  font-weight: 100;
  // color:rgb(255, 136, 0);
  line-height: 1.2;
}

.active{
  position: relative!important;
  top: 50%!important;
  left: 0%!important;
  margin-bottom: 10px!important;
  margin-right: 10px!important;
  width: fit-content;
  height: fit-content;
}

.relative{
  position: relative;
}


#topbar{
  position: fixed;
  top: 14px;
  z-index: 99;
  font-size: 16px;
  text-align: center;
}

#result{
  position: fixed;
  width: 95%;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#final-text{
  text-align: center;
}

.balls{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  white-space: no-wrap;
}

.ball{
  border-radius: 50px;
  list-style-type: none;
  text-transform: capitalize;
  width: fit-content;
  display: inline-block;
  margin: 0;
  -webkit-box-shadow: 10px 10px 19px -4px rgba(34,34,34,1);
  -moz-box-shadow: 10px 10px 19px -4px rgba(34,34,3,1);
  box-shadow: 10px 10px 19px -4px rgba(34,34,3,1);
  &.active{
    margin-left: 10px;
  }
}

.wrapper{
  position: fixed;
  background-color: #222;
  width: 100vw;
  height: 100vh;
  top: 0;
  width: 100%;
  text-align: left;
  animation-fill-mode: forwards;
  animation: fadeIn 1s linear 0s;
}


@keyframes fadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.canvas{
  // background-color: rgba(22,22,22,0.75);
  background-color: #222222d0;
  // background: linear-gradient(0deg, rgba(34,34,34,0) 0%, rgba(34,34,34,1) 25%, rgba(34,34,34,1) 50%, rgba(34,34,34,1) 75%, rgba(34,34,34,0) 100%);
  /* border: 1px solid white; */
  -webkit-box-shadow: 0px 0px 27px 1px rgba(22,22,22,1);
  -moz-box-shadow: 0px 0px 27px 1px rgba(22,22,22,1);
  box-shadow: 0px 0px 27px 1px rgba(22,22,22,1);
  border-radius: 175px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 950px;
  padding: 36px 100px;
	.note{
		color: #fff;
		text-align: center;
		width: 100%;
		display: block;
		font-size: 40px;
	}
	.next{
		text-align: right;
		width: fit-content;
		display: block;
		font-size: 30px;
		cursor: pointer;
		margin-top: 24px;
    margin-left: auto;
    margin-right: 0;
	}
}

.line{
  height: 2px;
  border-bottom: 1px solid #fff;
  font-size: 32px;
  color: #fff;
  width: 100%;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  max-width: 900px;
  margin: auto;
  margin-top: 100px;
  .button{
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 25px;
    transition: all 0.4s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    a{
      line-height: 1;
    }
    &:hover{
      background-color: white;
      color: #222;
      a{
        color: #222;
      }
    }
  }
}

::spelling-error {
  background-color: rgb(255, 136, 0);
  text-decoration-line: none;
}

footer{
  position: fixed;
  bottom: 0;
  font-size: 14px;
  padding: 14px 0;
  width: 100%;
  text-align: center;
}

#insert3{
  border-radius: 50px;
  list-style-type: none;
  text-transform: capitalize;
  width: fit-content;
  display: inline-block;
  margin: 0;
  background-color: lightgreen;
  font-size: 24px;
  border: 0;
  line-height: 1.5;
  text-align: center;
  color: black;
  padding: 0 20px;
  -webkit-box-shadow: 10px 10px 19px -4px rgba(34,34,34,1);
  -moz-box-shadow: 10px 10px 19px -4px rgba(34,34,3,1);
  box-shadow: 10px 10px 19px -4px rgba(34,34,3,1);
}

#result{
  text-align: center;
  max-width: 950px;
  display: none;
}

.ball{
  span{
    font-size: 0;
    width: 0;
  }
}